{% extends "base.html" %}

{% block title %} contact {% endblock %}

{% block content %}

<div class="container py-4">
    <div class="row justify-content-center g-4">
        <div class="container-md bg-white mt-5 p-5 rounded-4 shadow-lg bg-secondary">
            <div class="py-4 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6">
                <div class="mx-auto max-w-screen-sm text-center">
    <div class="woodmart-info-box text-left box-icon-align-left box-style-shadow color-scheme-woodmart-bg-none box-title-default">
        <div class="box-icon-wrapper box-with-icon box-icon-simple"></div>

        <div class="info-box-content">
            <div class="info-box-inner reset-mb-10">
                <p><strong>ტელეფონი:</strong> (032) 2 500 535</p>
                <p><strong>Facebook page:</strong> playnamikobana</p>
                <p><strong>ელ.ფოსტა:</strong> namikobona@gmail.com</p>
            </div>
        </div>
    </div>

</div>
                </div>
                </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

