{% extends "base.html" %}

{% block title %}Rules{% endblock %}

{% block content %}
<div class="container py-4">
<div class="container-md bg-light mt-8 p-8 rounded-4 shadow-lg">
    <div class="py-2 px-4 mx-auto max-w-screen-xl">
        <div class="mx-auto text-center">
            <p class="fs-5 text-muted">
                ნამიოკობანა არის ინტერაქტიური, გუნდური თამაში, რომელიც დაფუძნებულია სიტყვების მინიშნებით გამოცნობაზე.
            </p>

            <!-- <div class="container-md bg-white mt-8 p-8 rounded-4 shadow-lg bg-secondary">-->
            <div class="py-2 px-2 mx-4 max-w-screen-xl lg:py-16 lg:px-6">
                <div class="mx-auto max-w-screen-sm text-center">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item bg-light text-dark border-0">
                            <span style="color: gold;">●</span> მოთამაშეები იყოფიან ორ გუნდად.
                        </li>
                        <li class="list-group-item bg-light text-dark border-0">
                            <span style="color: gold;">●</span> თითოეულ რაუნდში ერთი მოთამაშე იღებს სიტყვას.
                        </li>
                        <li class="list-group-item bg-light text-dark border-0">
                            <span style="color: gold;">●</span> მას აქვს კონკრეტული დრო (1 წუთი), რათა
                            თავისი გუნდის წევრებს მიანიშნოს სიტყვაზე.
                            <ul class="list-group list-group-flush ms-4">

                            </ul>
                        </li>
                        <li class="list-group-item bg-light text-dark border-0">
                            <span style="color: gold;">●</span> გუნდი ცდილობს რაც შეიძლება მალე გამოიცნოს
                            სიტყვა.
                        </li>
                        <li class="list-group-item bg-light text-darkborder-0">
                            <span style="color: gold;">●</span> ყოველი სწორად გამოცნობილი სიტყვა = ერთი ქულა.
                        </li>
                    </ul>
                </div>
            </div>


        </div>

    </div>
</div>
</div>

{% endblock %}
